<div [id]="'div1'+uid" fxLayout="row" fxLayoutAlign="start center">
  <div [id]="'div2'+uid" fxFill fxLayout="row" fxLayoutAlign="start start">
    <div [id]="'div3'+uid" fxFlex="30">
      <mat-list [id]="'sheetList'+uid">
        <mat-list-item *ngFor="let sheetEx of sheetExercises">
          <p mat-list-icon>{{sheetEx.num_exercise}}</p>
          <h4 mat-line>{{sheetEx.exercise_title}}</h4>
          <p mat-line>{{sheetEx.exercise_muscle}}</p>
          <p mat-line>{{sheetEx.exercise_mode}}</p>
          <button [id]="'moveDown'+uid" [name]="'moveDown'+uid" (click)="moveExerciseDown(sheetEx.num_exercise)" class="miniButton" mat-button>
            <mat-icon class="icon">keyboard_arrow_down</mat-icon>
          </button>
          <button [id]="'moveUp'+uid" [name]="'moveUp'+uid" (click)="moveExerciseUp(sheetEx.num_exercise)" class="miniButton" mat-button>
            <mat-icon class="icon">keyboard_arrow_up</mat-icon>
          </button>
          <button [id]="'remove'+uid" [name]="'remove'+uid" (click)="removeExercise(sheetEx.num_exercise)" class="miniButton" mat-button>
            <mat-icon class="icon">clear</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
    <!--end of exercise list-->
    <div class="sheet-maker" fxFlex>
      <div fxFill fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlexOffset="5" fxFlex="20">
          <mat-select [id]="'copySelect'+uid" [name]="'copy'+uid" [(ngModel)]="this.dayToCopyFrom" placeholder="Copia giornata da">
            <mat-option *ngIf="this.day !== 'Lunedì'" value="Lunedì">Lunedì</mat-option>
            <mat-option *ngIf="this.day !== 'Martedì'" value="Martedì">Martedì</mat-option>
            <mat-option *ngIf="this.day !== 'Mercoledì'" value="Mercoledì">Mercoledì</mat-option>
            <mat-option *ngIf="this.day !== 'Giovedì'" value="Giovedì">Giovedì</mat-option>
            <mat-option *ngIf="this.day !== 'Venerdì'" value="Venerdì">Venerdì</mat-option>
          </mat-select>
        </mat-form-field>
        <button [id]="'copyBtn'+uid" [name]="'copyBtn'+uid" (click)="copyDay(this.dayToCopyFrom)" fxFlexOffset="5" mat-stroked-button>Copia</button>
      </div>

      <mat-divider class="divider"></mat-divider>

      <div style="margin-top:20px" fxLayout="row" fxLayoutAlign="start start">
        <h3 fxFlexOffset="5">Aggiungi nuovo</h3>
      </div>

      <form [id]="'sheetForm'+uid"  (ngSubmit)="onAddExercise()">
        <div fxLayout="row" fxLayoutAlign="start start">

          <div fxLayout="column" fxLayoutAlign="start stretch" fxFlexOffset="5" fxFlex="20">

            <mat-form-field>
              <mat-select [id]="'selectMuscle'+uid"
                placeholder="Gruppo muscolare"
                [name]="'selectMuscle'+uid"
                [(ngModel)]="selectedMuscle"
                (selectionChange)="getExercisesByMuscleMass(selectedMuscle)"
              >
                <mat-option
                  *ngFor="let muscle of muscleMasses"
                  [value]="muscle"
                >
                  {{ muscle }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout="column" fxLayoutAlign="start stretch" fxFlexOffset="5" fxFlex="20">
          <select [id]="'selectEx'+uid"
            [(ngModel)]="selectedExercise"
            (change)="onSelectExercise($event.target.value)"
            name="selectedExercise{{this.day}}"
            style="min-width:20%;"
            fxFill
            required
            size="30"
          >
            <option *ngFor="let exercise of exercises" [value]="exercise.id">
              {{ exercise.title }}</option
            >
          </select>
          </div>

          <div fxLayout="column" fxLayoutAlign="start stretch" fxFlexOffset="5" fxFlex="20">
            <div style="border-style: 1px solid grey">
              <h2 style="text-align:center;">{{ selectedExercise.title }}</h2>
            </div>
            <div id="container_img" style="border-style: 1px solid grey;">
              <img class="image-container"
                *ngIf="selectedExercise.image_path"
                src="{{ selectedExercise.image_path }}"
              />
          </div>
            <mat-form-field fxFlexOffset="10">
              <input [id]="'exMode'+uid"
                [(ngModel)]="sheetExercise.exercise_mode"
                [name]="'exMode'+uid"
                required
                matInput
                placeholder="Modalità"
              />
              <mat-hint align="start"><strong>Esempio: 4x10</strong> </mat-hint>
            </mat-form-field>
            <mat-form-field fxFlexOffset="10" fxFlex="30">
              <textarea matInput placeholder="Note"></textarea>
            </mat-form-field>
            <button type="submit" fxFlexOffset="10" mat-stroked-button>
              Aggiungi
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
