<mat-tab-group>
  <mat-tab label="Addominali">
    <app-exercise-musclelist [muscle]="'Addominali'"></app-exercise-musclelist>
  </mat-tab>
  <mat-tab label="Pettorali">
    <<app-exercise-musclelist [muscle]="'Pettorali'"></app-exercise-musclelist>
  </mat-tab>
  <mat-tab label="Dorsali">
    <app-exercise-musclelist [muscle]="'Dorsali'"></app-exercise-musclelist>
  </mat-tab>
  <mat-tab label="Spalle">
    <app-exercise-musclelist [muscle]="'Spalle'"></app-exercise-musclelist>
  </mat-tab>
  <mat-tab label="Bicipiti">
    <app-exercise-musclelist [muscle]="'Bicipiti'"></app-exercise-musclelist>
  </mat-tab>
  <mat-tab label="Tricipiti">
    <app-exercise-musclelist [muscle]="'Tricipiti'"></app-exercise-musclelist>
  </mat-tab>
  <mat-tab label="Gambe">
    <app-exercise-musclelist [muscle]="'Gambe'"></app-exercise-musclelist>
  </mat-tab>
</mat-tab-group>
